@page
@model MovieMVC.Views.Hello.GreetingModel﻿

@{
    ViewData["Title"] = "Greeting our client!";
}

<h2>Welcome</h2>

 
<ul>
   
        @for (int i = 0; i < (int)(ViewData["Count"] ?? ""); i++)
        {
            <li>@ViewData["Greeting"]</li>
        }
   
</ul>
